<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v6.0.0" />
	</startup>
	<appSettings>
		<!-- Application-specific settings -->
		<add key="Organisation" value="elektasoftwarefactory" />
		<add key="Project" value="TSM" />
		<add key="ApiKey" value="PLACE_HOLDER" />
	</appSettings>
	<connectionStrings>
		<!-- Database connection strings -->
		<add name="ConnectionString1" connectionString="Data Source=ServerName;Initial Catalog=DatabaseName;Integrated Security=True;" providerName="System.Data.SqlClient" />
		<add name="ConnectionString2" connectionString="Data Source=ServerName2;Initial Catalog=DatabaseName2;Integrated Security=True;" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>